.card {
  width: 200px;
  text-align: center;
  border: 1px solid hsl(118, 106, 106);
  box-shadow: 5px 5px 5px hsl(0, 0%, 0%,0.1);
  padding: 20px;
  margin: 20px;
  max-width: 250px;
  display: inline-block;

}

.card .card-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}
.card .card-title {
  font-family: Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 10px;

}
.card .card-text {
  font-family: Arial, sans-serif;
  font-size: 1rem;
  margin-top: 5px;
  color: hsl(0, 0%, 30%);
}
.button{
  background-color: hsl(0, 77%, 7%);
  color: rgb(189, 180, 180);
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.student{
  font-family: Arial, sans-serif;
  font-size: 2em;
  padding: 10px;
  border: 1px solid hsl(0, 0%, 80%);
}
.studnet p{
  margin: 0;
  
}